.captchacomp {
    display: flex;
    justify-content: center;
    flex-direction:column;
    border: 1px solid grey;
    border-radius: 14px;
    align-items: center;
    max-width: 390px;
    min-width:360px;
    padding:5px;
  }
  
  .answerfield{
    display:flex;
  
  }
  .child {
    text-align: center;
    align-items: center;
    height: fit-content; /* Adjust the height as needed */
  }
  
  
  .captchasec{
    display: flex;
    justify-content:center
  }
  
  .captchaimg_refreshbutton{
    height:65px;
    margin-left:5px;
  }
  .captchaimage{
    border: 1px solid grey;
    border-radius:5px;
  }
  .refreshbutton{
    border-radius:10px;
    color:white;
    border-color: #444CE7;
    background-color:#444CE7;
    height:67px;
    width:70px;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  
  .OtpInput{
    height:100px;
  
  }
  .cancelvalidate{
    width:90%;
    font-size: 20px;
    
  }
  .btncancel{
  width: 40%;
  height:40px;
  border-radius:10px;
  border:1px solid grey;
  }
  .btncancel:hover{
    border-color: #444CE7;
    background-color:#444CE7;
    color:white;
  }
  .btnvalidate:hover{
    border-color: #444CE7;
    background-color:#444CE7;
    color:white;
  }
  .btnvalidate{
  width:40%;
  height:40px;
  margin-left:5px;
  border-color: #444CE7;
  background-color:#444CE7;
  color:white;
  border-radius:10px;
  }
  #correct{
    color:green;
  }
  #incorrect{
    color:red
  }
  .timer{
    border:1px Solid grey;
    border-radius:10px;
    background-color: lightgrey;
    padding:8px;
    margin-left:10px;
  }
  #message{
    height:12px;
  }
  .messagenote{
    font-size:8px;
  }

  .disabled {
    opacity: 0.5; 
  }